<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/jkleiner89/bootcamp">Jake Kleiner</a>. A web developer with a singular goal: empower people with the technical skills needed to launch their own companies and turn ideas into reality.
  </p>
  <br />

  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

</div>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'J&J.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Jake Kleiner</h2>
    <br />
    <p>
      Jake Kleiner is a software engineer and entrepreneur. He worked with Fortune 500 companies like AT&T and Coca Cola on WMS Systems @ <a target="_blank" href="https://jda.com/">JDA Software</a>, and currently runs <a target="_blank" href="https://www.paperpieces.com//">Paper Pieces®</a>, a vertically integrated powerhouse in the Quilting (E-Commerce) industry.</p>
      <p>
        In an earlier life, he worked as and equity analyst and trader at the <a target="_blank" href="https://www.cmegroup.com/company/cbot.html">Chicago Board Of Trade (CBOT)</a> before refining his focus on E-Commerce.
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />
